/* -----------------------------page general styles--------------------------- */

html {
  font-size: 100%;
  width: 100%;
  height: 100%;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Lexend Deca", sans-serif;
}
body {
  margin: 0;
  padding: 0;
  font-size: 0.875rem;
  background-color: hsl(0, 0%, 95%);
}
h1,
h2,
h3 {
  font-weight: 700;
  margin: 0;
  font-family: "Big Shoulders Display", cursive;
}
p {
  margin: 0;
}

/* -----------------------------main content styles--------------------------- */

.center-content {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* gap: 5rem; */
  min-height: 100vh;
}
.main-container {
  display: flex;
  padding-bottom: 1.5rem;
}
.card-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 3.5rem;
  max-width: 17.25rem;
  padding: 2.5rem;
  color: hsla(0, 0%, 100%, 0.75);
}
.card-container-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.75rem;
}
.card-container-icon {
  display: block;
  max-width: 3.125rem;
}
.card-container-title {
  text-transform: uppercase;
  font-size: 2.1875rem;
  color: hsl(0, 0%, 95%);
}
.card-container-description {
  min-height: 7.875rem;
  line-height: 1.5;
}
.card-container-btn {
  padding: 0.5625rem 1.375rem;
  border-radius: 1.25rem;
  font-size: 0.875rem;
  background-color: hsl(0, 0%, 95%);
  border: 0.125rem solid hsl(0, 0%, 95%);
  transition: ease 0.3s;
}
.card-container-btn:hover,
.card-container-btn:active {
  cursor: pointer;
  background-color: inherit;
  color: hsl(0, 0%, 95%) !important;
}
#card-1 {
  background-color: hsl(31, 77%, 52%);
  border-bottom-left-radius: 0.3125rem;
  border-top-left-radius: 0.3125rem;
}
#card-1 button {
  color: hsl(31, 77%, 52%);
}
#card-2 {
  background-color: hsl(184, 100%, 22%);
}
#card-2 button {
  color: hsl(184, 100%, 22%);
}
#card-3 {
  background-color: hsl(179, 100%, 13%);
  border-bottom-right-radius: 0.3125rem;
  border-top-right-radius: 0.3125rem;
}
#card-3 button {
  color: hsl(179, 100%, 13%);
}

/* -----------------------------footer styles--------------------------- */

.attribution {
  font-size: 1rem;
  position: absolute;
  bottom: 0;
  width: 100%;
  min-height: 1.5rem;
  background-color: rgb(0, 0, 0);
  /* min-height: fit-content; */
  padding: 0.5em;
  text-align: center;
  color: hsl(0, 0%, 95%);
}
.attribution a {
  text-decoration: none;
  color: hsl(31, 77%, 52%);
}
.attribution a:hover {
  color: hsl(58, 100%, 76%);
}

/* -----------------------------media quiries--------------------------- */

@media only screen and (max-width: 48rem) {
  /* for mobile */
  .main-container {
    flex-direction: column;
    font-size: 0.75rem;
    margin: 3.75rem 0 5.25rem 0;
  }
  .card-container {
    gap: 1.25rem;
    max-width: 15.5rem;
    padding: 2.125rem;
  }
  .card-container-info {
    gap: 1.375rem;
  }
  .card-container-title {
    font-size: 1.875rem;
  }
  .card-container-description {
    min-height: fit-content;
  }
  .card-container-btn {
    padding: 0.5rem 1.25rem;
    font-size: 0.75rem;
  }
  #card-1 {
    border-top-right-radius: 0.3125rem;
    border-bottom-left-radius: 0rem;
  }
  #card-3 {
    border-bottom-left-radius: 0.3125rem;
    border-top-right-radius: 0rem;
  }
  .attribution {
    font-size: 0.7rem;
  }
}
